@import '_constant.less';
@import '_reset.less';
// @import 'social-footer.less';
// @import 'gallery.less';
// @import 'wedding-stories.less'; 

body {
    font-family: 'APPLESDGothicNEO-LIGHT', sans-serif;
    background: rgb(245, 245, 245);
}

a {
    text-decoration: none;
}

.logo{
    text-align: center; 
    color:  rgb(114, 114, 114);
    margin: 15px 0 0 0;
    img{
        height: 100px;
    }
}

// .nav{
//     text-align: center; 
//     text-transform: uppercase;
//     li{
//         display: inline-block;
//         padding: 15px; 
//         a{
//             display: block;
//             font-size: 13px;
//             color: rgb(114, 114, 114);
//             &:hover{
//                 color: #bdbdbd;
//             }
//         }
//     }
// }


// .albums-list{
//     li{
//         display: inline-block;
//         width: 150px;
//         height: 150px;
//         background: red;
//         margin: 0 10px;
//     }
// }