@import '_constant.less';
@import '_reset.less';
@import 'social-footer.less';
@import 'gallery.less';
@import 'wedding-stories.less'; 
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
    font-family: 'APPLESDGothicNEO-LIGHT', sans-serif;
    background: rgb(245, 245, 245);
}

a {
    text-decoration: none;
}

.logo{
    text-align: center; 
    color:  rgb(114, 114, 114);
    margin: 15px 0 0 0;
    img{
        height: 100px;
    }
}

.nav{
    text-align: center; 
    text-transform: uppercase;
    li{
        display: inline-block;
        padding: 15px; 
        a{
            display: block;
            font-size: 13px;
            color: rgb(114, 114, 114);
            &:hover{
                color: #bdbdbd;
            }
        }
    }
}


.albums-list{
    ul{
        li{
            display: inline-block;
            margin: 0 20px 0 0;
            .album{
                cursor: pointer;
                img{
                    width: 150px;
                }
            }
        }
    }    
    .albums-grid{
        flex-wrap: wrap;
        img{
            height: 300px;
        }
    }
}